*{

margin: 0;

padding: 0;

box-sizing: border-box;

}

body{
background: rgb(255, 231, 244);
font-family: 'Alfa Slab One';

}

.contenedor{

padding: 60px 0;

width: 90%;

max-width: 1000px;

margin: auto;

overflow: hidden;

}

.titulo{

color: #140101;

font-size: 30px;

text-align: center;

margin-bottom: 60px;

}

/* Header */

header{

width: 100%;

height: 600px;

background: #ba027d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #181818a8, #e2a3d2a8), url(img/po.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #181818a8, #ba0249a8), url(img/po.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background-size: cover;

background-attachment: fixed;

position: relative;

}

nav{

text-align: center;

padding: 30px 50px 0 0;

}

nav >a{

color: #ffffff;

font-weight: 300;

text-decoration: none;

margin-right: 10px;

}

nav >a:hover{

text-decoration: underline;

}

header .textos-header{

display: flex;

height: 430px;

width: 100%;

align-items: center;

justify-content: center;

flex-direction: column;

text-align: center;

}

.textos-header h1{

font-size: 30px;

color: #fff;

}

.textos-header h2{

font-size: 30px;

font-weight: 300;

color: #fff;

}

.wave{

position: absolute;

bottom: 0;

width: 100%;

}
.logotipo{
    width: 20%;
    width:13%;
    
    
        height: 150px;
        
        object-fit: cover;
        
        border: 1px solid #000000;
        
        border-radius: 50%;
        
        display: block;

    
}



.contenido-textos h3 span{

background: #ff2982;

color: #faf7f7;

border-radius: 50%;

display: inline-block;

text-align: center;

width: 30px;

height: 30px;

padding: 2px;

box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

margin-right: 5px;

}


/* Galeria */

.portafolio{

background: rgb(255, 231, 244);

}

.galeria-port{

display: flex;

justify-content: space-evenly;

flex-wrap: wrap;

}

.imagen-port{

width: 24%;

margin-bottom: 50px;
margin-right: 20px;

overflow: hidden;

position: relative;

cursor: pointer;
box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);

border: 20px solid #ffffff;
border-radius: 15px;

}

.imagen-port > img{

width: 100%;

height: 100%;

object-fit: cover;

display: block;
border-radius: 15px;
background: #ffffff;
}

.hover-galeria{

position: absolute;

width: 100%;

height: 100%;

top: 0;

transform: scale(0);

background: hsla(0, 0%, 100%, 0.7);

transition: transform 0.5s;

display: flex;

justify-content: center;

align-items: center;

flex-direction: column;

}

.hover-galeria img{

width: 80px;

}

.imagen-port:hover .hover-galeria{

transform: scale(1);

}


/* Out team */
.about-services{

background: #f2f2f2;

padding-bottom: 30px;

}

.servicio-cont{

display: flex;

justify-content: space-between;

align-items: center;

}


/* footer */

footer{

    /*background: #441144;*/
    
    background: #fd6cb0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #fd50a1), url(img/po.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818b6, #fd6baf), url(img/po.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 60px 0 30px 0;
    
    margin: auto;
    
    overflow: hidden;
    
    }
    



/* FOOSTER */
.accordion-item {
  border: 1px solid #ccc;
  margin: 20px 0 0 0;
  font-size: 20px;
}

.accordion-header {
 
  
  cursor: pointer;
  
}

.accordion-content {
  padding: 20px;
  display: none;
  
}

.accordion-item.active .accordion-content {
  display: block;
 
  
}

.contenedor-footer{

.accordion-item {
  margin-bottom: 0px;
  text-align: center;
  color: #ffffff;
}

.accordion-header {

  padding: 10px;
  cursor: pointer;
  
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: #ffd6ec;
  text-align: center;
  color: #000000;
 
}

.accordion-item.active .accordion-content {
  display: block;
 
}
    flex-direction: 
    column;
    
    border: none;
    
    }
    
    